@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    word-break: break-word;
    margin: 0;
}

html {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    box-sizing: border-box;
}

header {
    background-color: #02A28F;
    padding: 0.813rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

header>h1 {
    width: 100%;
    max-width: 1024px;
}

strong {
    font-weight: 600;
}

h1 {
    margin: 0;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 2.25rem;
}

h2 {
    margin: 0;
    font-weight: 600;
    font-size: 1.25rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    padding: 0.813rem;
    max-width: 1024px;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#highlights-container {
    height: 24.75rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #FFFFFF;
    background: url(./assets/highlight1.jpg) no-repeat;
    background-size: cover;
    border-radius: 0.625em;
    overflow: hidden;
}

.highlight-item {
    padding: 1.5rem;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.highlight-item > .post-category {
    font-weight: 300;
    font-size: 1rem;
}

.highlight-item > .post-title {
    font-weight: 600;
    font-size: 2rem;
}

.highlight-item > .post-author {
    font-size: 1rem;
    font-weight: 400;
}

.section-header {
    background-color: #02A28F;
    color: #FFFFFF;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
}

.section-header>a {
    color: #FFFFFF;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 0.875rem;
    text-decoration: underline;
}

#recent-container>.section-header {
    padding: 1rem 1.5rem;
    margin: 0 0 0.75rem;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#recent-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.recent-card {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    font-weight: 400;
    font-size: 0.875rem;
}

.recent-card>img {
    width: 100%;
    display: flex;
}

.recent-card>.post-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.recent-card .post-category {
    color: #02A28F;
}

.recent-card .post-title {
    font-weight: 600;
    font-size: 1.25rem;
}

.recent-card .post-date {
    color: #616161;
}

#popular-container>.section-header {
    margin: 0 0 1.25rem;
}

#popular-list {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.popular-item {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    padding: 0.813rem;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0.625rem;
    align-items: flex-start;
}

.popular-item>img {
    max-width: 50%;
    display: flex;
}


.popular-item .post-title {
    font-weight: 600;
    font-size: 0.875rem;
    margin: 0 0 0.5rem;
}

.popular-item .post-date {
    font-size: 0.875rem;
    color: #616161;
}

#categories-container>.section-header {
    margin: 0 0 0.875rem;
}

.categories-list {
    padding: 0;
}

.categories-list>li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1rem;
    color: #616161;
}

.categories-list>li a {
    color: #616161;
    text-decoration: none;
}

footer {
    background-color: #02A28F;
    padding: 1rem;
    font-weight: 500;
    font-size: 0.875rem;
    text-align: center;
    color: #FFFFFF;
    margin-top: 4.063rem;
}

@media only screen and (max-width: 767px) {
    body {
        min-width: 320px;
    }

    h1 {
        text-align: center;
        font-size: 1.5rem;
    }

    #wrapper {
        grid-template-columns: 1fr;
        gap: 1.5rem;
        padding: 0.813rem;
    }
    .highlight-item > .post-title {
        font-size: 1.5rem;
    }
    #recent-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    #recent-container>.section-header {
        padding: 0.5rem 1rem;
        margin: 0 0 0.75rem;
    }

    #popular-container>.section-header,
    #categories-container>.section-header {
        justify-content: center;
        text-align: center;
    }

}